 @font-face { font-family: Colaborate thin; src: url('colaborate-thin.otf'); } 

h1 {
	font-family: Colaborate thin;
	font-color: black;
	font-size: 30;
}

body {
	background-color: white;
	font-family: Colaborate;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e50000;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: impact;
    font-size: 18;
}

li a:hover {
    background-color: 
#b20000;
}

p {
	font-family: calibri;
	font-size: 20;
}
